.mantine-Paper-root {
  background-color: var(--paper-background-color);
  border: rem(1px) solid var(--paper-border-color-custom);
}

:root,
:host {
  --mantine-color-body-custom: lighten(var(--mantine-color-body), 0.0275);

  @mixin light-root {
    --paper-border-color-custom: var(--mantine-color-secondary-2);
    --paper-background-color: darken(var(--mantine-color-body), 0.01);
  }

  @mixin dark-root {
    --paper-border-color-custom: rgba(255, 255, 255, 0.1);
    --paper-background-color: lighten(var(--mantine-color-body), 0.0175);
  }
}

body {
  background-color: var(--mantine-color-body-custom);
}

html {
  scrollbar-gutter: stable;
}

html body[data-scroll-locked] {
  margin-right: 0 !important;

  .right-scroll-bar-position {
    margin-right: 0 !important;
    right: 0 !important;
  }
}
