.root {
  position: relative;
  display: block;
  width: 100%;
}

.header {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 3px;
  position: absolute;
  top: -0.7em;
  left: -0.5em;
  right: -0.5em;
}

.body {
  border-radius: 0.5em;
  border: 1px solid var(--mantine-color-gray-7);
  overflow: hidden;
}

.value {
  padding: 0.7em 0.4em 0.2em;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.count {
  padding: 0.7em 0.4em 0.2em;
  flex-basis: 40px;
  flex-shrink: 0;
  flex-grow: 0;
  font-family: var(--mantine-font-family-monospace);
  color: var(--mantine-color-default-color);
  font-size: var(--mantine-font-size-sm);
  background-color: var(--mantine-color-default);
  border-left: 1px solid var(--mantine-color-dark-6);
  text-align: center;
  white-space: nowrap;
}
