.root {
  font-family: var(--mantine-font-family-monospace);
}

.warden-rank-any {
}

.warden-rank-active {
}

.warden-rank-1 {
  border: 1px solid #cd7f32;
}

.warden-rank-2 {
  border: 1px solid #a1a1aa;
  position: relative;
  overflow: hidden;
}

.warden-rank-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.4) 50%,
    transparent 100%
  );
  transform: skewX(-25deg);
  animation: glint 6s infinite ease-in-out;
}

@keyframes glint {
  0% {
    left: -150%;
  }
  20% {
    left: 150%;
  } /* Fast swipe */
  100% {
    left: 150%;
  } /* Long pause */
}

.warden-rank-3 {
  position: relative;
  overflow: hidden;
  border: 2px solid #ffd700;
}

.warden-rank-3::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    60deg,
    transparent 20%,
    rgba(255, 255, 255, 0.8) 50%,
    transparent 80%
  );
  animation: shimmer 3s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%) translateY(-50%);
  }
  100% {
    transform: translateX(100%) translateY(50%);
  }
}
